<div class="container d-flex flex-column justify-content-center align-items-center pt-3">
    <button type="button" class="btn btn-primary" (click)="createTicket()">Nuevo Ticket</button>
</div>
<section class="table-container p-0">
    <div class="table-wrapper">
        <table datatable [dtOptions]="dtOptions" class="table table-responsive table-striped table-hover text-center caption-top">
            <caption>Lista de Tickets</caption>
        </table>
    </div>
    <div class="table-wrapper overflow-y-auto">
        <table class="table table-striped table-hover text-center caption-top">
            <caption>Resumen de Tickets</caption>
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">Tipo de Espectador</th>
                    <th scope="col" class="col-1">Total de Tickets Vendidos</th>
                    <th scope="col" class="col-1">Total de Pagos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Local</td>
                    <td>{{totalTicketsLocales()[0]}}</td>
                    <td>{{totalTicketsLocales()[1] | currency:'ARS $'}}</td>
                </tr>
                <tr>
                    <td>Extranjero</td>
                    <td>{{totalTicketsExtranjeros()[0]}}</td>
                    <td>{{totalTicketsExtranjeros()[1] | currency:'ARS $'}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{totalTickets()[0]}}</td>
                    <td>{{totalTickets()[1] | currency:'ARS $'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
